extends layout

block content
  h1= title
  h3 Introduction
  p SAMS is an android application for recording the Attendance through QR.
  p The main objective of this application is to Automate the traditional way of recording attendance and provide an innovative and efficient way to visualize the attendance. A better way to store and retrieve attendance records. Drastically decrease the time taken to take attendance in class, thereby increasing the productivity in class.